@font-face {
    font-family:"Roboto";
    src: url("fonts/Roboto-Regular.ttf");
}

#sttFull {
    width:30%;
    display:block;
    margin:auto;
    padding:2%;
}

h1 {
    display:block;
    margin-left:2%;
    font-family:Roboto;
}