@font-face {
    font-family:"Roboto";
    src: url("../fonts/Roboto-Regular.ttf");
}

html, body {
    background-color: black;
}

#ticketbox {
    background-color: rgba(255, 255, 255, 0.8);
    display: absolute;
    position: relative;
    margin-left: 60px;
    font-family: Roboto;
    line-height: 1;
    float: left;
    padding: 20px;
    padding-left: 40px;
    padding-right: 40px;
    top: -250px;
    margin: -10px!important;
    border-top-right-radius:5px;
    border-bottom-right-radius:5px;
}

#ticketbox h2 {
    font-weight: 800;
    font-size: 32px;
    line-height: 0.3;
}

#ticketbox p {
    font-size: 24px;
    font-weight: 500;
}

#buybutton {
    display: inline;
    padding: 2.5% 5%;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: rgb(255, 255, 255);
    background-color: rgb(255, 185, 55);
    border: none!important;
    border-radius: 3px;
    margin: 2% auto;
    position: relative;
    transition: 0.7s ease 0s;
}

#buybutton:hover {
    background-color: rgb(184, 120, 3);
    transition: ease-in-out 0.7s;
}
#trailer {
    position: absolute;
    display:block;
    margin-left: 26%;
    margin-bottom: 5px;
    border: white;
}