@font-face {
    font-family:"Roboto";
    src: url("../fonts/Roboto-Regular.ttf");
}

h1 {
    display:block;
    margin-left:2%;
    font-family:Roboto;
}
#ticketbox {
    background-color: rgba(255, 162, 0, .8);
    display: absolute;
    position: relative;
    margin-left: 60px;
    font-family: Roboto;
    line-height: 1;
    float: left;
    padding: 20px;
    top: -250px;
    margin: -10px!important;
}
#ticketbox h2 {
    font-weight: 800;
    font-size: 32px;
    line-height: 0.3;
}
#ticketbox p {
    font-size: 24px;
    font-weight: 500;
}
#buybutton {
    display: inline;
    padding: 2.5% 5%;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #ccc;
    background-color: rgb(66, 66, 66);
    border: none!important;
    border-radius: 3px;
    margin: 2% auto;
    position: relative;
}