@font-face {
    font-family:"Roboto";
    src:url("../fonts/Roboto-Regular.ttf");
}

@font-face {
    font-family:"Open Sans";
    src:url("../fonts/OpenSans-Regular.ttf");
}

body {
    font-family:Open Sans;
}

h1 {
    font-family:'Roboto', Arial, Helvetica, sans-serif;
    font-size:80px;
    display:block;
    margin:auto;
    text-align:center;
    padding:3%;
}

.purchaseBox {
    background-color:rgba(255, 255, 255, 0.8);
    display:inline-block;
    width:25%;
    height:600px;
    border-radius:20px;
    margin-left:2%;
    margin-bottom:2%;
    box-shadow:0 10px 5px rgba(0, 0, 0, 0.5);
}

.purchaseBox h3 {
    display:block;
    margin-top:5%;
    margin-left:auto;
    margin-right:auto;
    text-align:center;
    font-size:40px;
    padding:2%;
}

#purchaseBoxes {
    display:block;
    margin:auto;
    text-align:center;
}

#standard h3{
    background-color:gray;
}

#vip h3 {
    background-color:rgb(183, 0, 255);
}

#bronze h3 {
    background-color:rgb(175, 105, 0);
}

#silver h3 {
    background-color:silver;
}

#gold h3 {
    background-color:rgb(255, 162, 0);
}

#platinum h3 {
    background-color:rgb(183, 204, 211)
}