@font-face {
    font-family:"Roboto";
    src: url("../fonts/Roboto-Regular.ttf");
}

#Tip-box {
    margin: 60px;
    background-color: #ff7f3b;
    border-radius: 30px;
}

#Tip-list {
    margin-left: 40px;
    font-size: 40px;
}

#Tip {
    font-family: "Roboto";
    padding-bottom: 30px;
    padding-top: 30px;
}