@font-face {
    font-family:"Roboto";
    src: url("../fonts/Roboto-Regular.ttf");
}

#Tip-box {
    text-align: center;
    margin: 60px;
    font-size: 40px;
}

#Tip {
    margin-left: 40px;
    font-family: "Roboto";
    padding-bottom: 20px;
    padding-top: 20px;
}

hr {
    width: 30%;
    height: 8px;
    margin-left: auto;
    margin-right: auto;
    background: #fe4d01;
    border: 0 none;
    border-radius: 4px;
    margin-bottom: 0;
    margin-top: 0;
}

#TipNumber {
    display: unset;
    font-size: 100%;
}