@font-face {
    font-family:"timer";
    src:url("../fonts/timer.ttf");
}

@font-face {
    font-family:"Roboto";
    src:url("../fonts/Roboto-Regular.ttf");
}

body {
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

h1 {
    display:block;
    margin:auto;
    text-align:center;
    padding:3%;
    font-size:100px;
    font-family:Roboto, Arial, Helvetica, sans-serif;
}

#countdown {
    color: black;
    display:block;
    margin:auto;
    text-align:center;
    font-size:600%;
    padding:3%;
    font-family:timer;
    background-color:rgba(255, 162, 0, .8);
    border-radius:50px;
    width:50%;
    min-width:1000px;
    margin-top:5%;
}

#date {
    font-size:50px;
    font-family:Roboto, Arial, Helvetica, sans-serif;
    display:block;
    margin:auto;
    text-align:center;
}